body {
    --background-color: #000000;
    --text-color: #ff0000;
    background-color: var(--background-color);
    color: var(--text-color);
}

/*Loading Animation*/

.LoadingAnimation{
    height: 100vh;
    width: 100vw;
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    display: block;
    background-color: var(--background-color);
}

.centerPlacement{
    width: 80px;
    margin: auto;
    margin-top: 200px;
}

  .LoadingScreen {
    z-index: 1000;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .LoadingScreen div {
    animation: LoadingScreen 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .LoadingScreen div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: var(--text-color);
    margin: -4px 0 0 -4px;
  }
  .LoadingScreen div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .LoadingScreen div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .LoadingScreen div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .LoadingScreen div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .LoadingScreen div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .LoadingScreen div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .LoadingScreen div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .LoadingScreen div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .LoadingScreen div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .LoadingScreen div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .LoadingScreen div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .LoadingScreen div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .LoadingScreen div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .LoadingScreen div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .LoadingScreen div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .LoadingScreen div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }

  /* Safari */
  @-webkit-keyframes LoadingScreen {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes LoadingScreen {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


#navigationbar {
    color: var(--text-color);
}

ul > li {
    list-style: none;
    display: inline;
}

a {
    color: var(--text-color);
}

a:hover {
    color: var(--text-color);
}

a:visited {
    color: var(--text-color);
}

.alignCenter {
    text-align: center;
}

/*Logo*/
.Logo{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: none;
    background-color: rgba(174, 214, 241,0.0);
    color: var(--text-color);
    text-align: center;
}